<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<style>
body {
    font-family: Arial;
    background:#0f172a;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.box {
    background:#1e293b;
    padding:30px;
    border-radius:10px;
}

input {
    display:block;
    margin:10px 0;
    padding:10px;
    width:200px;
}

button {
    padding:10px;
    width:100%;
    background:#3b82f6;
    border:none;
    color:white;
}
</style>
</head>

<body>

<div class="box">
<h2>Login</h2>

<form method="POST">
    <input name="username" placeholder="Username" required>
    <input name="password" type="password" placeholder="Password" required>
    <button>Login</button>
</form>

</div>

</body>
</html>